---
permalink: /kilder/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="nb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url=/medier/">
    <link rel="canonical" href="{{ '/medier/' | absoluteUrl(site.url) }}">
    <title>Medieoversikt</title>
  </head>
  <body><p>Siden har flyttet til <a href="/medier/">Medieoversikt</a>.</p></body>
</html>
